$light:                           #fff;
$stable:                          #f8f8f8;
$positive:                        #6F16D6;
$calm:                            #11c1f3;
$balanced:                        #91EA2A;
$energized:                       #ffc900;
$assertive:                       #ef473a;
$royal:                           #cae8a3;;
$dark:                            #444;